 body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
                         'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: antiquewhite;
            background-color: darkcyan;
            padding: 30px;
        }
section{
    margin-top: 30px;
}
        header {
            background-color: rgb(126, 201, 204);
            padding: 15px;
            text-align: center;
            border-radius: 10px;
        }

        header h1 {
            font-family: 'Segoe UI';
            font-size: x-large;
        }

        section {
            background-color: cadetblue;
            border: 1px solid rgb(193, 207, 231);
            text-align: center;
            padding: 15px;
            box-shadow: 0 0 5px;
            margin-bottom: 20px;
        }

        section h2 {
            margin-bottom: 10px;
        }

        section img {
            object-fit: cover;
            border-radius: 15px;
            width: 200px;
        }

        ol {
            text-align: left;
            display: inline-block;
        }

        table {
            border-collapse: collapse;
            margin: 0 auto;
        }

        table, th, td {
            border: 1px solid black;
            padding: 10px 15px;
        }

        th {
            background-color: #4a7b7c;
        }

        footer {
            background-color: cadetblue;
            text-align: center;
            padding: 25px;
            box-shadow: 0 0 5px;
        }

        footer ul {
            list-style: none;
            padding: 0;
        }

        footer ul li {
            margin: 5px 0;
        }

        footer a {
            text-decoration: none;
        }

        footer a[href*="instagram"] {
            color: rgb(231, 62, 95);
        }

        footer a[href*="youtube"] {
            color: rgb(220, 41, 41);
        }

        footer a[href*="github"] {
            color: rgb(138, 217, 59);
        }

        .sosmed li{
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .sosmed{
            list-style: none;
            padding: 5px;
            background-color: azure;
        }

        .belajar-box-sizing{
            box-sizing: border-box;
            background-color: antiquewhite;
            width: 500px;
            margin: auto;
            text-align: center;
            border: box solid grey;
        }